.main-nosotros {
    margin: 0 auto;
    height: 100%;
}

.nosotros-header {
    background-color: rgb(60, 122, 180);
}

.nosotros-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 1010px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
}

.content-title-header {
    font-family: "Open Sans", sans-serif;
    font-size: 27px;
    line-height: 58px;
    letter-spacing: 0;
    color: #ffffff;
    font-weight: 400;
    width: 545px;
    padding-top: 20px;
}

.content-description-header {
    clear: both;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0;
    color: #f0efef;
    width: 502px;
    margin-top: 12px;
    margin-bottom: 30px;
}

.img {
    width: 350px;
    height: 210px;
    object-fit: contain;
    vertical-align: middle;
    border-style: none;
}
.div-img {
    display: block;
}


.content-title {
    font-family: "Open Sans", sans-serif;
    font-size: 27px;
    line-height: 58px;
    letter-spacing: 0;
    color: #000000;
    font-weight: 400;
    max-width: 66.66667%;
    padding-top: 20px;
}

.content-description {
    clear: both;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0;
    color: #000000;
    max-width: 66.66667%;
    margin-top: 12px;
    margin-bottom: 30px;
}

.content-title-right {
    font-family: "Open Sans", sans-serif;
    font-size: 27px;
    line-height: 58px;
    letter-spacing: 0;
    color: #000000;
    font-weight: 400;
    max-width: 66.66667%;
    padding-top: 20px;
    margin-left: 30px;
}

.content-description-right {
    clear: both;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0;
    color: #000000;
    max-width: 66.66667%;
    margin-top: 12px;
    margin-bottom: 30px;
    margin-left: 30px;
}