.formulario {
    display: block !important;;
    margin:0 auto;
    width:510px;
    color: #7e89a3;
    font-family:Arial;
    margin-top: 40px;
    font-weight: 300;
    font-size: 17px;
    line-height: 1.8em;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    padding-left: 120px;
    padding-right: 70px;
}
form {
    margin:0 auto;
    width:400px;
}
 
input, textarea {
    background: #fff;
    border: .0625rem solid #d9d9e2;
    padding: 1em;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
    transition: all .3s linear;
    max-width: 100%;
    color: #7e89a3;
    display: block;
    width: 100%;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    border-radius: .3rem;
    background: #f6f6f8;
    margin-bottom: 1em;
}

.mainInner div {
    font-size: 17px;
}

input {
    line-height: normal;
}


 
textarea {
    overflow: auto;
    height:150px;
}
 
#submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

.btn:hover {
    background: #329780;
    text-decoration: none;
}

input[type="submit"], input[type="button"] {
    background: #50c5ab;
    border: 0;
    color: #fff;
    display: inline-block;
    width: auto;
    line-height: 1.5em;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

