.header {
    background: rgb(60, 122, 180);
    color: white;
    padding: 20px 0;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
    .header a {
        color: white;
        text-decoration: none
    }

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Esta propiedad lo que hace es que si un elemento tiene más ancho del que se le permite no lo fuerce a estar al lado de otro y que pase al lado */
}

.logo {
    letter-spacing: 8px;
    font-size: 20px;
}

.menu-icon {
    display: none;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

    .navigation ul li {
        display: inline-block
    }

        .navigation ul li a {
            display: block;
            padding: 8px 16px;
            transition: all 0.4s linear;
            border-radius: 5px;
        }

            .navigation ul li a:hover {
                background: rgb(168, 165, 165);
            }

.main {
    padding-top: 100px;
}

*, *:before, *:after {
    box-sizing: border-box;
    }


.footer {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    padding: 25px;
    color: #fff;
    background-color: rgb(60, 122, 180);
    }
    
    .footer > * {
    flex:  1 100%;
    }
    
    .l-footer {
    margin-right: 0.5px;
    margin-bottom: 10px;
    padding-top: 70px;
    display: flex;
    }

    .l-footer img {
        width: auto;
    }
    
    h2 {
    font-weight: 600;
    font-size: 18px;
    color: white;
    }
    
    .footer ul {
    list-style: none;
    padding-left: 0;
    }
    
    .footer li {
    line-height: 45px;
    }
    
    .footer a {
    text-decoration: none;
    }
    
    .r-footer {
    display: flex;
    flex-flow: row wrap;
    }
    
    .r-footer > * {
    flex: 1 50%;
    margin-right: 2px;
    }
    
    .box a {
    color: rgb(248, 243, 243);
    }
    
    .b-footer {
    text-align: center;
    color: white;
    padding-top: 70px;
    }
    
    .l-footer p {
    padding-right: 20%;
    color: white;
    }   

@media only screen and (max-width: 767px) {
    
    .menu-icon {
        display: block;
        cursor: pointer;
        padding: 8px 16px;
    }

    .navigation {
        width: 100%;
        margin-top: 16px;
    }

        .navigation ul{
            display: none;
        }

        .navigation ul.show {
            display: block;
        }

    .navigation ul li {
        display: block
    }

        .navigation ul li a {
            display: block;
            padding: 8px 0;
            transition: all 0.4s linear;
            border-radius: 5px;
        }

            .navigation ul li a:hover {
                background: rgb(168, 165, 165);
            }
}

@media screen and (min-width: 600px) {
    .r-footer > * {
    flex: 1;
    }
    
    .features {
    flex-grow: 2;
    }
    
    .l-footer {
    flex: 1 0px;
    }
    
    .r-footer {
    flex: 2 0px;
    }
    }